<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/D_Traversal/public/directorystyle.css">
    <title>View File</title>
</head>
<body>
    <div class="container">
        <h1>File Content</h1>
        <pre class="file-content"><%= fileContent %></pre> <!-- This displays the file content -->
        <div class="footer">
            <a href="/D_Traversal/index">Go Back to Directory simulation</a>
        </div>
        
    </div>
</body>
</html>
